{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>category</h1>
    <h2>Category: {{ products.0.category.title }}</h2>

    <h1>Product List</h1>
    <ul>
        {% for products in products %}
            <li>
                <h2>{{ products.title }}</h2>
                <p>Price: ${{ products.price }}</p>
                <img src="{{ products.image.url }}" alt="{{ products.title }}" width="200">
            </li>
            <p>{{ products.description|safe }}</p>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>


</body>
</html>